{
  "comment": "Config file for myStrom Wifi Button 2 MQTT",
  "version": 2,
  "mqtt": {
    "brokeraddress": "192.168.0.4",
    "brokerport": 1883,
    "brokerusername": "mqtt_user",
    "brokerpassword": "mqtt_pwd",

    "brokerssl": false,
    "cafilepath": "./resources/mqtt_client/ca.crt",
    "certfilepath": "./resources/mqtt_client/client.crt",
    "keyfilepath": "./resources/mqtt_client/client.key",

    "valid_topics" : [
        "api/mystrom"
		,"api/mystrom/gen"
    ],
    "subscribed_topics" : [
    ]
  },
 "mystrom": {
   "button":{
		"123456789ABC" : {"name":"green"},
		"0123456789AB" : {"name":"orange"}
   },
   "button+":{
		"3423456789AB" : {"name":"plus", "level_min": 0 , "level_max":255, "level":0}
   }
   
 },
  "http" : {
    "port" : 8321,
    "ssl" : false,
    "certfilepath" : "./resources/http_server/server.crt",
    "keyfilepath" : "./resources/http_server/server.key",
    "valid_users" : {
        "user1" : "pwd1"
    }
  }
}
